*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(33, 134, 197);
}

h1 {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    width: 100%;
    min-width: 800px;
    text-align: center;
}

.manager {
    width: 100%;
    min-width: 800px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgb(15, 77, 97);
    justify-content: space-around;
}

.manager ul {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 350px;
    height: max-content;
    margin-top: 20px;
    width: 30%;
    background-color: rgb(229, 229, 229);
    border-radius: 6px;
    list-style-type: none;
    justify-content: space-between;
}

.manager h4 {
    width: 100%;
    height: 30px;
    padding-left: 15px;
    padding-top: 10px;
}

.task {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 5px;
    align-items: start;
    box-shadow: 0px 1px 1px  rgb(162, 162, 162);
    overflow-wrap: anywhere;
    cursor: pointer;
}

.dragged {
    position: absolute;
    z-index: 999;
    pointer-events: none;
    background: #fff;
    cursor: grabbing;
}

.delete {
    width: 20px;
    height: 20px;
    position: absolute;
    line-height: 20px;
    border: 0;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 5px;
    background-color: rgb(229, 229, 229);
    top: 0px; right: 0px;
    color: rgb(168, 168, 168);
    opacity: 0;
}

.delete:hover {
    opacity: 1;
}


.task p {
    padding: 10px;
}

.taskImg {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.openInput {
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin-top: 10px;
    background-color: inherit;
    text-align: left;
    font-weight: 500;
    border: 0px;
    font-size: 14px;
    color: rgb(144, 144, 144);
    padding-left: 10px;
    padding-right: 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.openInput:hover {
    background-color: rgb(201, 201, 201);
}

.taskForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.taskText {
    width: 100%;
    height: 70px;
    resize: none;
    padding: 5px;
    border-radius: 4px;
    border: 0px;
    box-shadow: 0px 1px 1px  rgb(162, 162, 162);
}

.taskText:focus {
    outline: none;
}

.controlInput {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
}

.addCard {
    width: 75px;
    height: 30px;
    background-color: rgb(19, 137, 19);
    box-shadow: 0px 1px 1px  rgb(12, 91, 12);
    color: white;
    font-weight: bold;
    border: 0px;
    border-radius: 4px;
}

.addCard:hover {
    background-color: rgb(15, 107, 15);
    box-shadow: 0px 1px 1px  rgb(12, 91, 12);
}

.closeInput {
    width: 30px;
    height: 30px;
    background-color: inherit;
    color:  rgb(168, 168, 168);
    border: 0px;
}

.closeInput:hover {
    color: rgb(188, 188, 188);
}

.file-container {
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 4px;
}

.file-container:hover {
    background-color: rgb(201, 201, 201);
}

.fileInput {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    opacity: 0;
    width: 100%;
}

.overlap {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 100%;
    color: rgb(144, 144, 144);
    text-align: center;
    padding: 5px;
    line-height: 25px;
    font-weight: bold;
    pointer-events: none;
}
